.driver-one {
  height: 780px;
  width: 100%;
  background: linear-gradient(rgba(59, 58, 58, 0.5), rgba(112, 110, 110, 0.5)),
    url("https://res.cloudinary.com/drxwuqu3v/image/upload/v1671328809/driver_a3es3v.webp");
  background-size: 1450px;
}

.driver-one h1 {
  margin-top: 200px;
  margin-left: 150px;
  font-size: 50px;
  color: #fff;
}

.driver-one p {
  margin-left: 150px;
  color: #fff;
}

.driver-two {
  background-color: rgba(16, 24, 32);
  height: 500px;
  padding: 50px 0;
}

.driver-two button {
  border: 0 solid;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  background-image: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  min-width: 44px;
  height: 44px;
  border-radius: 24px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 44px;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 136, 13, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  margin-top: 1.75rem;
}

.driver-two h2 {
  margin-left: 150px;
  /* padding-top: 50px; */
  font-size: 50px;
  color: #fff;
}

.driver-card {
  background-color: rgba(16, 24, 32);
  border: 0;
  border-radius: 30px;
  width: 250px;
  height: 200px;
  margin-top: 100px;
  padding: 20px 20px;
  z-index: 2;
  color: #fff;
}

.driver-three {
  height: 1500px;
  margin-top: 100px;
}

.driver-three h2 {
  text-align: center;
  font-size: 36px;
}

.driver-three .header-p {
  text-align: center;
  margin-bottom: 80px;
}

.service-card-one {
  width: 280px;
  background-color: rgb(116, 179, 116);
  border-radius: 45px;
  height: 450px;
}

.service-card-one h3 {
  padding: 0px 30px;
  padding-top: 30px;
  font-size: 25px;
}

.service-card-one p {
  padding: 0px 30px;
}

.service-card-one img {
  width: 280px;
  margin-top: 40px;
}

.service-card-two {
  width: 280px;
  background-color: rgba(255, 128, 139);
  border-radius: 45px;
  height: 450px;
}

.service-card-two h3 {
  padding: 0px 30px;
  padding-top: 30px;
  font-size: 25px;
}

.service-card-two p {
  padding: 0px 30px;
}

.service-card-two img {
  width: 280px;
  margin-top: 40px;
}

.service-card-three {
  width: 280px;
  background-color: rgba(164, 219, 232);
  border-radius: 45px;
  height: 450px;
}

.service-card-three h3 {
  padding: 0px 30px;
  padding-top: 30px;
  font-size: 25px;
}

.service-card-three p {
  padding: 0px 30px;
}

.service-card-three img {
  width: 280px;
  margin-top: 40px;
}

.service-card-four {
  width: 280px;
  background-color: rgba(255, 143, 28);
  border-radius: 45px;
  height: 450px;
}

.service-card-four h3 {
  padding: 0px 30px;
  padding-top: 30px;
  font-size: 25px;
}

.service-card-four p {
  padding: 0px 30px;
}

.service-card-four img {
  width: 280px;
  margin-top: 40px;
}

.story-from-partners {
  text-align: center;
  margin-top: 650px;
  font-size: 26px;
  position: relative;
}

iframe {
  width: 400px;
  height: 250px;
  border-radius: 35px;
}

.quote {
  width: 400px;
}

.video-two {
  position: absolute;
  right: 480px;
}

.video-three {
  position: absolute;
  right: 40px;
}

.driver-four {
  background-color: rgba(0, 133, 173);
  position: relative;
  height: 450px;
}

.driver-four h2 {
  font-size: 44px;
  color: #fff;
}

.driver-four a {
  color: #fff;
}

.driver-man img {
  height: 300px;
  position: absolute;
  right: 150px;
  top: 150px;
}

.driver-goride {
  position: absolute;
  left: 100px;
  bottom: 150px;
}
.driver-gocar {
  position: absolute;
  left: 300px;
  bottom: 150px;
}
.driver-gosend {
  position: absolute;
  left: 500px;
  bottom: 150px;
}
.driver-gobox {
  position: absolute;
  left: 700px;
  bottom: 150px;
}
